<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>enphase.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>74D7B13A1BDF16DF00A2B0CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74D7B14E1BDF16DF00A2B0CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>74D7B1591BDF16DF00A2B0CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
